* {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 14px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* ========================= NAVIGATION SECTION =================== */
.navbar ul {
  display: flex;
  background-color: #222299;
  padding: 16px 8px;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  justify-content: end;
  align-items: center;
}

.navbar ul li {
  padding: 8px;
}

.navbar ul li:last-child {
  margin-right: 8px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
}

.navbar ul li a:hover {
  color: #ddd;
  border-bottom: 1px solid red;
}

/* ====================== HERO SECTION ==================== */
/* Large devices */
.hero {
  height: 500px;
  background-image: url(../images/bg_large.jpg);
  background-size: cover;
  position: relative;
}

/* https://stackoverflow.com/questions/42121150/css-centering-with-transform */
.hero .content {
  text-align: center;
  width: 100%;
  color: white;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.hero .content h1 {
  font-size: 50px;
}

.hero .content p {
  font-size: 20px;
}

/* Tab */
@media screen and (max-width:764px) {
  .hero {
    height: 300px;
    background-image: url(../images/bg_medium.jpg);
  }


}

/* Mobile */
@media screen and (max-width:560px) {
  .hero {
    height: 300px;
    background-image: url(../images/bg_small.jpg);
  }

  body {
    font-size: 16px;
  }

  .hero .content h1 {
    font-size: 25px;
  }

  .hero .content p {
    font-size: 16px;
  }

}