/* ====================== GENERAL STYLES */

body {
  height: 100%;
  font-size: 14px;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  line-height: 2;
  color: #333;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #222;
}

/* ====================== HERO SECTION ==================== */
/* Large devices */
.hero {
  height: 500px;
  background-image: url(../images/bg_large.jpg);
  background-size: cover;
  position: relative;
}

/* https://stackoverflow.com/questions/42121150/css-centering-with-transform */
.hero .content {
  text-align: center;
  width: 100%;
  color: white;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.hero .content h1 {
  font-size: 50px;
}

.hero .content p {
  font-size: 20px;
}


.navbar .nav-link:hover {
  border-bottom: 2px solid red;
}

/* COMPLETE THE JUMBOTRON CLASS */

.jumbotron {
  background-color: #229;
  color: #ffffff;
  height: 200px;
}

/* ====================== HERO END ==================== */


/* ==================== SERVICES START ================== */

.services, .cta, .aboutus {
  padding: 100px 10px;
}

.services {
  background: #efefef;
}

.services .service .icon {
  color: rgba(34, 34, 153);
}

/* ========================= START FOOTER ========================== */

.footer {
  background-color: #efefef;
  padding: 70px 10px;
}


.quick-links {
  list-style: none;
  transition: 500ms;
}

.quick-links li {
  padding: 8px;
}

.quick-links li a:hover {
  border-bottom: 1px solid red;
}

/* =================== END FOOTER ======================= */





/* Tab */
@media screen and (max-width:764px) {
  .hero {
    height: 300px;
    background-image: url(../images/bg_medium.jpg);
  }
}



/* Mobile */
@media screen and (max-width:560px) {
  .hero {
    height: 300px;
    background-image: url(../images/bg_small.jpg);
  }

  body {
    font-size: 16px;
  }

  .hero .content h1 {
    font-size: 25px;
  }

  .hero .content p {
    font-size: 16px;
  }

}