/* ====================== GENERAL STYLES */

* {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 14px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  color: #333;
}

.container {
  width: 80%;
  margin: auto;
}

.row {
  display: flex;
}

/* ========================= NAVIGATION SECTION =================== */
.navbar ul {
  display: flex;
  background-color: #229;
  padding: 16px 8px;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  justify-content: end;
  align-items: center;
}

.navbar ul li {
  padding: 8px;
}

.navbar ul li:last-child {
  margin-right: 8px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  transition: 500ms;
}

.navbar ul li a:hover {
  color: #ddd;
  border-bottom: 1px solid red;
}

/* ====================== HERO SECTION ==================== */
/* Large devices */
.hero {
  height: 500px;
  background-image: url(../images/bg_large.jpg);
  background-size: cover;
  position: relative;
}

/* https://stackoverflow.com/questions/42121150/css-centering-with-transform */
.hero .content {
  text-align: center;
  width: 100%;
  color: white;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.hero .content h1 {
  font-size: 50px;
}

.hero .content p {
  font-size: 20px;
}

/* ====================== HERO END ==================== */


/* ==================== SERVICES START ================== */

.services, .cta, .aboutus, .testimonial, .footer {
  padding: 100px;
}

.services {
  background: #efefef;
}

.services .service {
  background-color: #fff;
  margin-right: 10px;
  padding: 10px;
  
  /* https://getcssscan.com/css-box-shadow-examples */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 1s;
  text-align:center;
}

.services .service h2, .services .service .icon {
  margin-bottom: 1em;
}

.services .service .icon {
  color: rgba(34, 34, 153);
}

.services .service:hover {
  border: 1px solid grey;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
}


/* ==================== SERVICES END ================== */

/* Tab */
@media screen and (max-width:764px) {
  .hero {
    height: 300px;
    background-image: url(../images/bg_medium.jpg);
  }


}

/* Mobile */
@media screen and (max-width:560px) {
  .hero {
    height: 300px;
    background-image: url(../images/bg_small.jpg);
  }

  body {
    font-size: 16px;
  }

  .container {
    width: 100%;
  }
  
  .row {
    display: flex;
    flex-direction: column;
  }

  .hero .content h1 {
    font-size: 25px;
  }

  .hero .content p {
    font-size: 16px;
  }



}